<!doctype html>
<html>
<head>
    <meta charset="utf-8" lang="de">
    <title>Love Letter</title>
    <link href="dist/css/theme.min.css" rel="stylesheet">
</head>
<body class="pt-4">
<div class="container">
    <div id="app">
        <h1>Love Letter</h1>
        <!-- Connectivity -->
        <div
            class="badge badge-success mb-4"
            v-if="isConnected()"
        >
            verbunden <span v-if="getName()">{{getName()}}</span> #{{getId()}}
        </div>
        <div class="badge badge-info mb-4" v-if="isHost()">Host</div>

        <!-- Lobby -->
        <div class="lobby">
            <h2 class="lobby__header">Lobby</h2>
            <!-- Game status -->
            <span>{{getStatus()}}</span>

            <!-- Username enter -->
            <div v-if="!hasUsername()">
                <label for="username">Dein Name:</label>
                <input @keyup.enter="setName" class="form-control" type="text" id="username">
            </div>

            <!-- Player num -->
            <div class="lobby__connections">Spieler online: {{getActivePlayerCount()}}</div>

            <!-- Connection list -->
            <ul>
                <li class="font-weight-bold">
                    <span v-if="getName()">{{getName()}}</span>
                    #{{getId()}}
                    <span class="badge badge-info" v-if="isHost()">Host</span>
                </li>
                <li
                    v-for="player in getPlayers()"
                    v-if="getPlayers() && player.id !== getId()"
                >
                    <span v-if="player.name">{{player.name}}</span>
                    #{{player.id}}
                    <span class="badge badge-info" v-if="player.id === getHostId()">Host</span>
                    <span class="badge badge-danger" v-if="!player.connected">disconnected</span>
                </li>
            </ul>

            <!-- Start game button, smash it! -->
            <button
                class="btn btn-primary"
                v-if="canPressStartGame"
                @click="startGame()"
            >
                Spiel starten
            </button>
        </div>

        <!-- Game -->
        <div
            class="loveletter"
            v-if="isBoardVisible"
        >
            <!-- Game status -->
            <div v-if="getGameStatus()" class="alert alert-info">{{getGameStatus()}}</div>

            <!-- Select first player -->
            <div class="mb-2" v-if="canSelectedFirstPlayer">
                <p>Der Spieler der als letztes ein Rendezvous hatte beginnt:</p>
            </div>

            <div class="alert alert-success d-flex align-items-center"
                 v-if="canLookAtPlayerCard"
            >
                Diese Karte wurde durch den Priester aufgedeckt: {{getPriestEffectVisibleCard()}}
                <button
                        class="btn btn-success ml-auto"
                        @click="send()"
                >
                    Fertig mit angucken
                </button>
            </div>

            <!-- Removed cards (if only 2 people play) -->
            <div
                class="alert alert-warning"
                v-if="isOutOfGameCardsVisible"
            >
                <span>Karten, die aus dem Spiel sind: </span>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item" v-for="card in getOutOfGameCards()">{{card.name}}</li>
                </ul>
            </div>

            <!-- Players in Love Letter -->
            <p>Spieler:</p>
            <ul class="list-group mb-4">
                <li
                    class="list-group-item d-flex align-items-center"
                    v-for="player in getIngamePlayers()"
                    :class="[{
                        active: player.id === getPlayerTurn(),
                        disabled: !isPlayerConnected(player.id)
                    }]"
                >
                    {{player.name}} #{{player.id}}
                    <span
                        class="ml-2 badge badge-dark"
                        v-if="isOutOfGame(player.id)"
                    >
                        ausgeschieden
                    </span>
                    <span
                        class="ml-2 badge badge-success"
                        v-if="isGameFinished() && isWinner(player.id)"
                    >
                        gewonnen
                    </span>
                    <span
                        class="ml-2 badge badge-info"
                        v-if="isProtected(player.id)"
                    >
                        geschützt
                    </span>
                    <button
                        class="btn btn-sm btn-warning ml-auto"
                        v-if="canChoosePlayer(player.id)"
                        @click="send({id: player.id})"
                    >
                        auswählen
                    </button>
                    <button
                        class="ml-2 btn btn-primary btn-sm"
                        v-if="canSelectFirstPlayer"
                        @click="send({id: player.id})"
                    >
                        auswählen
                    </button>
                </li>
            </ul>

            <!-- Guardian Effect selectable cards -->
            <div v-if="canSelectGuardianEffect">
                <p>Wähle die Karte, die {{getGuardianEffectChosenPlayer()}} auf der Hand hält!</p>
                <ul class="list-group mb-4">
                    <li
                        class="list-group-item d-flex align-items-center"
                        v-for="card in getGuardianEffectSelectableCards()"
                    >
                        {{card}}
                        <button
                            class="btn btn-sm btn-success ml-auto"
                            @click="send({card: card})"
                        >
                            auswählen
                        </button>
                    </li>
                </ul>
            </div>

            <!-- Hand cards -->
            <p>Deine Karten:</p>
            <transition-group
                    tag="div"
                    class="mb-4 d-flex"
                    enter-active-class="animated fadeIn"
                    leave-active-class="animated fadeOut"
            >
                <div class="card mr-2" v-for="(card, key) in getCards()" :key="card.id">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{card.name}} ({{card.value}})
                        </h5>
                        <p class="card-text">
                            {{card.effect}}
                        </p>
                        <button
                                v-if="canChooseCard(card)"
                                @click="send({key: key})"
                                class="btn btn-primary"
                        >
                            Karte spielen
                        </button>
                    </div>
                </div>
            </transition-group>

            <!-- card on field -->
            <p>Spielfeld:</p>
            <div class="d-flex mb-4">
                <div class="card" v-if="getActiveCard()">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{getActiveCard().name}} ({{getActiveCard().value}})
                        </h5>
                        <p class="card-text">
                            {{getActiveCard().effect}}
                        </p>
                        <button
                            class="btn btn-danger"
                            v-if="canPressDiscard"
                            @click="send()"
                        >
                            Auf Ablagestapel
                        </button>
                        <button class="btn btn-success"
                                v-if="canPlaceMaidCard"
                                @click="send()"
                        >
                            Offen vor dich hinlegen
                        </button>
                    </div>
                </div>
            </div>

            <p>Ablagestapel:</p>
            <div v-for="card in getDiscardPile()">
                <div class="d-flex">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{card.name}} ({{card.value}})
                            </h5>
                            <p class="card-text">
                                {{card.effect}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="dist/js/libs/js.cookie.js"></script>
<script src="dist/js/libs/vue.js"></script>
<script src="dist/js/script.js"></script>
</body>
</html>
