<!doctype html>
<html>
<head>
    <meta charset="utf-8" lang="de">
    <title>Love Letter</title>
    <link href="/dist/css/theme.min.css" rel="stylesheet">
</head>
<body class="pt-4">
<div class="container">
    <div id="app">
        <h1>Love Letter</h1>
        <!-- Connectivity -->
        <div
            class="badge badge-success mb-4"
            v-if="local.connected"
        >
            verbunden <span v-if="game.local.name">{{game.local.name}}</span> #{{game.local.id}}
        </div>
        <div class="badge badge-info mb-4" v-if="isHost()">Host</div>

        <!-- Game status -->
        <div v-if="loveletter.global.gameStarted" class="alert alert-info">{{loveletter.global.status}}</div>

        <!-- Lobby -->
        <div class="lobby">
            <h2 class="lobby__header">Lobby</h2>
            <!-- Game status -->
            <span>{{game.global.status}}</span>

            <!-- Username enter -->
            <div v-if="!hasUsername()">
                <label class="custom-control-label" for="username">Dein Name:</label>
                <input v-on:keyup.enter="setName" class="form-control" type="text" id="username">
            </div>

            <!-- Player num -->
            <div class="lobby__connections">Spieler online: {{getActivePlayerCount()}}</div>

            <!-- Connection list -->
            <ul>
                <li
                    v-bind:class="{'font-weight-bold': player.id == game.local.id}"
                    v-if="game.global.players" v-for="player in game.global.players"
                >
                    <span v-if="player.name">{{player.name}}</span>
                    #{{player.id}} <span v-if="player.id == game.local.id">(you)</span>
                    <span class="badge badge-info" v-if="player.id == game.global.hostid">Host</span>
                    <span class="badge badge-danger" v-if="!player.connected">disconnected</span>
                </li>
            </ul>

            <!-- Start game button, smash it! -->
            <button
                class="btn btn-primary" v-if="isHost() && gameCanStart() && !loveletter.global.gameStarted"
                v-on:click="startGame()"
            >
                Spiel starten
            </button>
        </div>

        <!-- Game -->
        <div class="loveletter" v-if="loveletter.global.gameStarted">

            <!-- Select first player -->
            <div class="mb-2" v-if="!loveletter.global.firstPlayerSelected && isHost()">
                <p>Der Spieler der als letztes ein Rendezvous hatte beginnt:</p>
                <button
                    class="btn btn-primary btn-sm mr-2"
                    v-for="player in loveletter.global.players"
                    v-on:click="selectFirstPlayer(player.id)"
                >
                    {{player.name}} #{{player.id}}
                </button>
            </div>

            <!-- Removed cards (if only 2 people play) -->
            <div v-if="loveletter.global.players.length == 2">
                <div class="alert alert-warning">
                    <span>Karten, die aus dem Spiel sind: </span>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item" v-for="card in loveletter.global.outOfGameCards">{{card.name}}</li>
                    </ul>
                </div>
            </div>

            <!-- Players in Love Letter -->
            <p>Spieler:</p>
            <ul class="list-group mb-4">
                <li
                    class="list-group-item d-flex align-items-center"
                    v-bind:class="[{active: player.id == loveletter.global.playerTurn}, {disabled: !loveletter.local.ingame}]"
                    v-for="player in loveletter.global.players"
                >
                    {{player.name}} #{{player.id}}
                    <span
                        class="ml-2 badge badge-dark"
                        v-if="isOutOfGame(player.id)"
                    >
                        ausgeschieden
                    </span>
                    <button
                        v-if="player.id != game.local.id
                        && isPlayersTurn()
                        && loveletter.global.waitingForPlayerToChoosePlayer"

                        v-on:click="selectPlayerForEffect(player.id)"

                        class="btn btn-warning ml-auto"
                    >
                        auswählen
                    </button>
                </li>
            </ul>

            <!-- Guardian Effect selectable cards -->
            <div v-if="isPlayersTurn() && !loveletter.global.guardianEffectCardSelected">
                <p>Wähle die Karte, die {{loveletter.global.guardianEffectChosenPlayer}} auf der Hand hält!</p>
                <ul class="list-group mb-4">
                    <li
                        class="list-group-item d-flex align-items-center"
                        v-for="card in loveletter.global.guardianEffectSelectableCards"
                    >
                        {{card}}
                        <button
                            class="btn btn-sm btn-success ml-auto"
                            v-on:click="selectGuardianEffectCard(card)"
                        >
                            auswählen
                        </button>
                    </li>
                </ul>
            </div>

            <!-- Hand cards -->
            <p>Deine Karten:</p>
            <div class="d-flex mb-4">
                <div class="card mr-2" v-for="(card, index) in loveletter.local.cards">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{card.name}} ({{card.value}})
                        </h5>
                        <p class="card-text">
                            {{card.effect}}
                        </p>
                        <button
                            v-if="loveletter.global.playerTurn == game.local.id
                            && loveletter.global.waitingForPlayerToChooseCard"

                            v-on:click="chooseCard(index)"
                            class="btn btn-primary"
                        >
                            Karte spielen
                        </button>
                    </div>
                </div>
            </div>

            <!-- card on field -->
            <p>Spielfeld:</p>
            <div class="d-flex mb-4">
                <div class="card" v-for="card in loveletter.global.openCards">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{card.name}} ({{card.value}})
                        </h5>
                        <p class="card-text">
                            {{card.effect}}
                        </p>
                        <button
                            class="btn btn-danger"
                            v-if="isPlayersTurn()
                            && loveletter.global.activeCard.effectFinished"

                            v-on:click="depositActiveCard"
                        >
                            Auf Ablagestapel
                        </button>
                    </div>
                </div>
            </div>

            <p>Ablagestapel:</p>
            <div class="d-flex mb-4" v-for="(card, index) in loveletter.global.depositedCards">
                <div class="card" v-if="index == loveletter.global.depositedCards.length - 1">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{card.name}} ({{card.value}})
                        </h5>
                        <p class="card-text">
                            {{card.effect}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="dist/js/libs/jquery.min.js"></script>
<script src="dist/js/libs/js.cookie.js"></script>
<script src="dist/js/libs/vue.min.js"></script>
<script src="dist/js/script.js"></script>
</body>
</html>
