.game-start {
  &__rules {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__size {
    font-size: 42px;
  }

  &__footer {
    background-color: $primary;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
