.game-start {
  width: 530px;
  position: absolute;
  left: 0;
  right: 0;
  top: 260px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(#000, 0.3) 0 3px 8px;

  &__header {
    height: 65px;
    background-color: $primary;
    color: $sapling;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__body {
    background-color: $secondary;
    color: $primary;
    padding: 10px 25px 20px;
    font-size: 24px;
  }

  &__rules {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__size {
    font-size: 42px;
  }

  &__players {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  &__player {
    margin: 10px;
  }

  &__footer {
    background-color: $primary;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
