body {
  background: linear-gradient(to bottom, #DBCBA1 0%, #FBF7EF 100%) no-repeat;
}

.app {
  background: url(/res/img/background.svg) no-repeat 50% -12px;
  background-size: 100% 102%;
  height: 100vh;
}
