body {
  background: linear-gradient(to bottom, #DBCBA1 0%, #FBF7EF 100%) no-repeat;
  font-family: Catamaran, sans-serif;
  font-weight: 300;
}

.app {
  height: 100vh;
  background: url(/res/img/background.svg) no-repeat center;
  background-size: cover;
}
