.window {
  width: 530px;
  position: absolute;
  right: 180px;
  top: 260px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(#000, 0.3) 0 3px 8px;

  &--center {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  &__header {
    text-align: center;
    background-color: $primary;
    color: $sapling;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 15px;
  }

  &__body {
    background-color: $secondary;
    color: $primary;
    padding: 10px 25px 20px;
    font-size: 24px;
  }

  &__players {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  &__player {
    margin: 10px;
  }
}
