$saddle: #4C3229;
$millbroook: #5D3D32;
$millbroook2: #6D483B;
$sapling: #DBCBA1;

$mandy: #E64C51;
$malachite: #39E956;
$picton-blue: #4CD9EF;

$primary: $saddle;
$secondary: $sapling;

$fa-font-path: '/res/fonts/fontawesome';
