$saddle: #4C3229;
$millbroook: #5D3D32;
$millbroook2: #6D483B;
$sapling: #DBCBA1;

$mandy: #E64C51;
$malachite: #39E956;
$picton-blue: #4CD9EF;

$primary: $saddle;
$secondary: $sapling;

$fa-font-path: '/res/fonts/fontawesome';

$cards: (
        1 #AB692C,
        2 #993B33,
        3 #805F66,
        4 #BDCFD9,
        5 #B79D60,
        6 #878A6F,
        7 #5B737F,
        8 #EEE1D1
);
