$saddle: #4C3229;
$millbroook: #5D3D32;
$millbroook2: #6D483B;
$sapling: #DBCBA1;

$offline: #DBA1A1;
$online: #A1DBA7;
$host: #A1D7DB;
$won: #DBD1A1;

$primary: $saddle;
$secondary: $sapling;

$fa-font-path: '/res/fonts/fontawesome';

$cards: (
        1 #AB692C,
        2 #993B33,
        3 #805F66,
        4 #BDCFD9,
        5 #B79D60,
        6 #878A6F,
        7 #5B737F,
        8 #EEE1D1
);
